{% extends 'website/base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
{% load markdown_extras %}
{% load thumbnail %}

<div vocab="http://schema.org/" typeof="Article">
	<span property="author" hidden>{{article.author}}</span>
	<span property="isAccessibleForFree" hidden>True</span>
	<span property="inLanguage" hidden>{{article.language}}</span>
	<span property="keywords" hidden>{{article.tags}}</span>
	<span property="isFamilyFriendly" hidden>{{article.family_friendly}}</span>
	<span property="description" hidden>{{article.description}}</span>
	<span property="accessModeSufficient" hidden>textual,visual</span>
	<span property="identifier" hidden>{{settings.url}}/read/{{article.category}}/{{article.id}}</span>

	<div class="flex-centered">
		<h2 property="name">{{article.title}}</h2>
	</div>

	<div class="flex-centered">
		{% load static %}
		<small>
			<img src="{% static 'website/img/calendar.png' %}" height="12"><span property="dateModified">{{article.last_update}}</span>
			&nbsp;
			<img src="{% static 'website/img/comment.png' %}" height="12"><span property="commentCount">{{comments|length}}</span>
			&nbsp;
			<img src="{% static 'website/img/eye.png' %}" height="12">{{article.nb_views}}
		</small>
	</div>

	<br>

	<div class="columns">
		<div class="column col-9 col-sm-12">
			<div class="show-sm"><img src="{{ MEDIA_URL }}/{{article.photo}}" class="img-responsive" property="image"></div>
			<span property="articleBody">{{article.content | markdown | safe}}</span>
		</div>
		<div class="column col-3">
			<div class="hide-sm"><img src="{{ MEDIA_URL }}/{{article.photo}}" class="img-responsive" property="image"></div>

			<div class="panel">
				<div class="p-centered">
					<form action="/thumb_up/article/{{article.id}}/" method="post">
						<button class="btn tooltip tooltip-left btn-action s-circle" data-tooltip="Like this article" type="submit" name="upvote" value="yes">
							{% csrf_token %}
							<img src="{% static 'website/img/thumb_big.png' %}" height="24">
						</button>	
					</form>
				</div>

				<div class="divider text-center" data-content="RELATED ARTICLES"></div>
					<div class="d-inline">
					{% for s in suggestions %}				
						{% thumbnail s.photo "100x100" crop="center" as im %}
							<div class="popover popover-bottom">
								<a href="/read/{{s.category}}/{{s.id}}">
									<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
								</a>
								<div class="popover-container">
									{{s.title}}
								</div>
							</div>
						{% endthumbnail %}	
						&nbsp;
					{% endfor %}
					</div>
			</div>
		</div>
	</div>
</div>

<div class="divider text-center" data-content="COMMENTS"></div>
<div class="columns">
	<div class="column col-sm-12">
		<div class="panel">

			<div class="panel-nav">
    			<!-- navigation components: tabs, breadcrumbs or pagination -->
  			</div>

			<div class="panel-body">
				{% for c in comments %}
					{% if c.parent is null %}
						<figure class="avatar avatar-sm" data-initial="{{c.author|make_list|first}}" style="background-color: #5755d9;">
						</figure>
					
						<b>{{c.author}}</b>
						<i>{{c.date}}</i>
						<div class="float-right">
							<button id="btn_comment_{{c.id}}" class="btn tooltip tooltip-left" data-tooltip="Answer to {{c.author}}" onclick="changeField('id_parent',{{c.id}},'answer_to','block', 'answer_name', '{{c.author}}')" >
								<i class="icon icon-message"></i>
							</button>
							
						</div>
						
						{{ c.content | markdown | safe}}
						<!--TODO find a smarter to iterate?: https://stackoverflow.com/questions/12014704/iterating-over-related-objects-in-django-loop-over-query-set-or-use-one-liner-s-->
						{% for s in comments %}
							{% if s.parent == c %}
								<div class="float-right">
									<b>{{s.author}}</b>
									<figure class="avatar avatar-xs" data-initial="{{s.author|make_list|first}}" style="background-color: #5755d9;">
									</figure>
								</div>
								<div class="float-right">
									<span property="comment">{{s.content}}</span>
								</div>
								<br>
								
							{% endif %}
						{% endfor %}
						<br>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="column col-sm-12">
		<div id="answer_to" class="toast" style="display: none;">
			<button class="btn btn-clear float-right" onclick="changeField('id_parent',null,'answer_to','none', 'answer_name', '')"></button>
  			You are answering to <span id="answer_name"></span>
		</div>
		<form method="post">
			<div class="form-group">
				{% csrf_token %}
	  			{{comment_form}}
	  			<div class="float-right"><button class="btn btn-primary">comment</button></div>
	  		</div>
	  	</form>
	</div>

</div>
{% endblock %}