<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'website/css/spectre-exp.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/spectre-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/spectre.css' %}">
  <script src="{% static 'website/script/utils.js' %}"></script>
  

  <!-- SEO \\//_
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!--TODO: terminer de génériciser cela (url, image)-->
  <meta property="og:title" content="{{settings.about}}">
  <meta property="og:url" content="{{settings.url}}">
  <meta property="og:image" content="https://perrot-ines.com/images/profil.png">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{settings.about}}">
  
  <meta name="keywords" content="{{setting.keywords}}">
  <meta name="description" content="{{settings.about}}">
  <meta name="author" content="{{settings.owner_first_name}} {{settings.owner_last_name}}">

</head>

<body>
  	<main>
        <div class="docs-container off-canvas off-canvas-sidebar-show">
            <div class="docs-navbar">
              <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar">
                <i class="icon icon-menu"></i>
              </a>
            </div>

            <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
              {% include "website/tile.html" %}              
              <div class="docs-nav">
                {% include "website/sidebar.html" %}
              </div>
            </div>

            <div class="off-canvas-content">
              <div id="content" class="docs-content">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
              </div>
              
            </div>
        </div>  
  	</main>
    {% include "website/footer.html" %}
</body>

</html>