
{% extends 'website/base.html' %}

{% block title %}Home--{{settings.title}}{% endblock %}

{% block content %}
{% load markdown_extras %}

<h2 class="s-title">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			by@{{order_mode}}:~
		</li>
		{% for p in path %}
			<li class="breadcrumb-item">
				{{p}}
			</li>
		{% endfor %}
		$	
	</ul>
</h2>

<ul class="pagination">
  <li class="page-item disabled">
    <a href="#" tabindex="-1">Previous</a>
  </li>
  <li class="page-item active">
    <a href="#">{{page}}</a>
  </li>
  <li class="page-item">
    <a href="#">{{page+1}}</a>
  </li>
  <li class="page-item">
    <a href="#">{{page+2}}</a>
  </li>
  <li class="page-item">
    <span>...</span>
  </li>
  <li class="page-item">
    <a href="#">12</a>
  </li>
  <li class="page-item">
    <a href="#">Next</a>
  </li>
</ul>

{% for a in articles %}
	<div class="card">
		<div class="card-header">
			<div class="card-title h5">{{a.title}}</div>
			<div class="card-subtitle text-gray">{{a.category}}</div>
			<div class="bg-dark">{{a.language}}    last upd: {{a.last_update}}</div>
		</div>

		<div class="card-body">
			{{a.content | markdown | safe}}
		</div>

		<div class="card-footer">
			{% for t in a.tags %}
				<span class="chip">{{t}}</span>
			{% endfor %}

		</div>
	</div>	
{% endfor %}

{% endblock %}