
{% extends 'website/base.html' %}

{% block title %}Home--{{settings.title}}{% endblock %}

{% block content %}
{% load markdown_extras %}

<h2 class="s-title">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			by@{{order_mode}}:~
		</li>
		{% for p in breadcrumb %}
			<li class="breadcrumb-item">
				{{p}}
			</li>
		{% endfor %}
		$	
	</ul>
</h2>

<div class="columns">
	<div class="column col-md-12">	
		{% for a in articles %}
			<div class="card">
				<div class="card-header">
					<div class="card-title h5">{{a.title}}</div>
					<div class="text-right"> last update: {{a.last_update}}</div>
					<div class="card-subtitle text-gray">{{a.category}}</div>		
				</div>

				<div class="card-body">
					{{a.content | markdown | safe}} 
					<div class="text-right">
						<a href="read/{{a.category}}/{{a.id}}">continue reading</a>
					</div>
				</div>

				<div class="card-footer">
					{% for t in a.tags %}
						<span class="chip">{{t}}</span>
					{% endfor %}
					{{a.language}}
					{{a.rating}}

				</div>
			</div>	
		{% endfor %}
	</div>
	
	<div class="column col-3">

		<form action="/browse/" id="browse" method="get">	
			<button name="page" value="{{page|add:"-1"}}" class="btn btn-action">
				<i class="icon icon-arrow-left"></i>
			</button>	
				
			<button  name="page" value="{{page}}" class="btn btn-action">
				<i class="icon icon-refresh"></i>
			</button>	
				
			<button name="page" value="{{page|add:"1"}}" class="btn btn-action">
				<i class="icon icon-arrow-right"></i>
			</button>

			<br>
            
            {{ nav_form }}  		
	</div>
</div>

{% endblock %}
