
{% extends 'website/base.html' %}

{% block title %}Home--{{settings.title}}{% endblock %}

{% block content %}
{% load markdown_extras %}
{% load thumbnail %}

<h2 class="s-title">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			by@{{order_mode}}:~
		</li>
		{% for p in breadcrumb %}
			<li class="breadcrumb-item">
				{{p}}
			</li>
		{% endfor %}
		$	
	</ul>
</h2>

<div class="columns">
	<div class="column col-md-12">	
		{% for a in articles %}
			<div class="card" vocab="http://schema.org/" typeof="Article">
				<span property="identifier" hidden>{{settings.url}}/read/{{a.category}}/{{a.id}}</span>
				<span property="author" hidden>{{a.author}}</span>
				<span property="isAccessibleForFree" hidden>True</span>
				<div class="columns">
					<div class="column col-9 col-md-12">
						<div class="card-header">
							<div class="card-title h5" property="name">{{a.title}}</div>
							<div class="text-right"> 
								{% load static %} 
								<img src="{% static 'website/img/calendar.png' %}" height="12">
								<span property="dateModified">{{a.last_update}}</span>
							</div>
							<div class="card-subtitle text-gray">{{a.category}}</div>
						</div>

						<div class="card-body">
							{{a.content | markdown | safe}} 
						</div>
					</div>
					<div class="column col-3 col-ml-auto">
						{% thumbnail a.photo "250x250" crop="center" as im %}
							<div class="float-right">
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
							</div>
						{% endthumbnail %}	
					</div>
				</div>
				<div class="columns">
					<div class="column col-12">
						<div class="card-footer" >
							<span property="keywords">
								{% for t in a.tags %}
									<span class="chip" >{{t}}</span>
									<span hidden>,</span>
								{% endfor %}
							</span>
							
							{% load static %}
							<img src="{% static 'website/img/globe.png' %}" height="16"><span property="inLanguage">{{a.language}}</span>
							<img src="{% static 'website/img/thumb.png' %}" height="16">{{a.rating}}
							<div class="text-right">
								<a href="/read/{{a.category}}/{{a.id}}" lang="{{a.language}}" hreflang="{{a.language}}">
									{% if a.language == "en" %}
										continue reading
									{% endif %}
									{% if a.language == "fr" %}
										lire la suite
									{% endif %}
									{% if a.language == "es" %}
										leer más
									{% endif %}
								</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>	
		{% endfor %}
	</div>
	
	<div class="column col-3">

	<!-- PLACEHOLER<br> main tags <br> see also TODO -->
	</div>
</div>

{% include "website/pagination.html" %} 

{% endblock %}
