{% extends 'website/base.html' %}

{% block title %}Education--{{settings.title}}{% endblock %}

{% block content %}
{% load markdown_extras %}

<div class="columns">
    <div class="column col-sm-12">
        <h2 class="s-title">
            Education
        </h2>

        <div class="timeline">
            {% for d in diploma %}                
                <div class="timeline-item" id="{{d.name}}">
                    <div class="timeline-left">
                        <b>{{d.year}}</b> 
                    </div>

                    <div class="timeline-content">
                        {{d.title}}
                        <br>
                        <a href={{d.link}} target="_blank" rel="noopener noreferrer">
                            {{d.institution}}
                        </a>
                        <br>
                        
                        {{ d.details | markdown | safe }}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="column col-sm-12">
        <h2 class="s-title">
            Certifications
        </h2>

        <div class="timeline">
            {% for d in certifications %}                
                <div class="timeline-item" id="{{d.name}}">
                    <div class="timeline-left">
                        <b>{{d.year}}</b> 
                    </div>

                    <div class="timeline-content">
                        {{d.title}}
                        <br>
                        <a href={{d.link}} target="_blank" rel="noopener noreferrer">
                            {{d.institution}}
                        </a>
                        <br>
                        
                        {{ d.details | markdown | safe }}

                        {% ifnotequal d.expire 'None' %}
                            <b>exp</b>: {{d.expire}}
                        {% endifnotequal %}

                    </div>
                </div>

            {% endfor %}
        </div> 
    </div>
</div>

{% endblock %}