{% extends 'website/base.html' %}

{% block title %}Home--{{settings.title}}{% endblock %}

{% block content %}
{% load common %}
{% load static %}

<div class="columns">
	{% for c in 0|range:settings.gallery_width %}
		<div class="column col-sm-12">
			{%with begin=c|multiply:settings.gallery_width|stringformat:"s" end=c|multiply:settings.gallery_width|add:settings.gallery_width|stringformat:"s"%}
				{% with photo_slice=begin|add:":"|add:end %}
					{% for p in photos|slice:photo_slice %}
						<div class="card">
							<div class="card-header">
								<div class="card-title h5">
									{{p.title}}
									<div class="float-right">
										{%if p.description is not None or p.buy_link is not None%}
											<div class="popover popover-left">
												<button class="btn"><i class="icon icon-plus"></i></button>
												<div class="popover-container">
													<div class="card">
														{{p.description|default_if_none:""}}
														{% if p.buy_link is not None %}
															<a href="{{p.buy_link}}">
																<button class="btn btn-link">
																	buy
																</button>	
															</a>
														{%endif%}
													</div>
												</div>
											</div>
										{%endif%}
									</div>
								</div>
							</div>
							<div class="card-image">
								<img src="{{ MEDIA_URL }}/{{p.photo}}" class="img-responsive">
							</div>
							<div class="card-body">
								<img src="{% static 'website/img/eye.png' %}" height="16">{{p.nb_views}}
								{%if p.author is not None%}
									<img src="{% static 'website/img/photo.png' %}" height="16">
									{%if p.author.url is not None%}
										<a href="{{p.author.url}}">{{p.author}}</a>
									{% else %}
										{{p.author}}
									{% endif %}
								{%endif%}
								{% for per in p.photo_models.all %}
									<img src="{% static 'website/img/person.png' %}" height="16">
									{% if per.url is not None%}
										<a href="{{per.url}}">{{per}}</a> 
									{% else %}
										{{per}}
									{%endif%}
								{% endfor %}
								{%if p.place_name is not None%}
									<img src="{% static 'website/img/place.png' %}" height="16">{{p.place_name}}
								{%endif%}
  							</div>
  							<div class="card-footer">
  								{% for t in p.tags %}
									<span class="chip">{{t}}</span>
								{% endfor %}
  							</div>

						</div>
						<br>
						
					{% endfor %}
				{%endwith%}
			{%endwith%}
		</div>
	{% endfor %}
</div>

<div class="flex-centered">
	<ul class="pagination">

		{% if current_page == "1" %}
			<li class="page-item disabled"><a href="#" tabindex="-1">Previous</a></li>
		{%else%}
	  		<li class="page-item"><a href="?page={{current_page|add:"-1"}}" tabindex="-1">Previous</a></li>
	  	{% endif %}
	  		<li class="page-item active"><a href="#">{{current_page}}</a></li>
	  	{% if current_page|add:1 < max_page %}
	  		<li class="page-item"><a href="?page={{current_page|add:1}}">{{current_page|add:1}}</a></li>
	  	{% endif %}
	  	{% if current_page|add:2 < max_page %}
	  		<li class="page-item"><a href="#">{{current_page|add:2}}</a></li>
	  	{% endif %}
	  		<li class="page-item"><span>...</span></li>
	  		<li class="page-item"><a href="?page={{max_page}}">{{max_page}}</a></li>
	  	{% ifequal current_page max_page %}
	  		<li class="page-item disabled"><a href="#">Next</a></li>
	  	{% else %}
	  		<li class="page-item"><a href="?page={{current_page|add:1}}">Next</a></li>
	  	{% endifequal %}
	</ul>
</div>

{% if user.is_authenticated %}
	<div class="divider text-center" data-content="ADMIN: Add Photo"></div>
	<form enctype="multipart/form-data" method="post">
		<div class="columns">
			{% csrf_token %}
			<div class="column col-sm-12">
				{{picture_form.title}}
				{{picture_form.tags}}
				<div class="input-group">
					<span class="input-group-addon">
						<img src="{% static 'website/img/photo.png' %}" height="20">
					</span> 
					{{picture_form.author}}
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<img src="{% static 'website/img/18.jpg' %}" height="20">
					</span> 
					{{picture_form.adult_only}}
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<img src="{% static 'website/img/person.png' %}" height="20">
					</span> 
					{{picture_form.photo_models}}
				</div>
				{{picture_form.place_name}}
				{{picture_form.buy_link}}
				{{picture_form.photo}}
			</div>
			<div class="column col-sm-12">
				{{picture_form.description}}
				<button class="btn btn-primary">add picture</button>
			</div>	
		</div>
	</form>
{%endif%}
{% endblock %}
