                  
<div class="accordion-container">

  <div class="accordion">
    <input id="about-me" name="docs-accordion-checkbox" checked="checked" type="checkbox" hidden="">
    <label class="accordion-header c-hand" for="about-me">About me</label>
    <div class="accordion-body">
      <ul class="menu menu-nav">
        {% if settings.show_education == True %}
          <li class="menu-item"><a href="/education">Education</a></li>
        {% endif %}
        {% if settings.show_publications == True %}
          <li class="menu-item"><a href="getting-started/custom.html">Publication</a></li>
        {% endif %}
        {% if settings.show_projects == True %}
          <li class="menu-item"><a href="getting-started/browsers.html">Projects</a>
        {% endif %}
        {% if settings.show_jobs == True %}
          <li class="menu-item"><a href="getting-started/browsers.html">Jobs</a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>

  {% if settings.show_articles %}
    <div class="divider text-center" data-content="ARTICLES"></div>
    {% for c in article_categories%}
      {% if c.parent is none %}
        <div class="accordion">
          <input id={{c.name}} name="docs-accordion-checkbox" checked="checked" type="checkbox" hidden="">
          <label class="accordion-header c-hand" for={{c.name}}>{{c.name}}</label>    
          <div class="accordion-body">
            <ul class="menu menu-nav">
              {% for s in article_categories %}
                {% if s.parent_id is c.id %}
                  <li class="menu-item"><a href="/browse/{{s}}">{{s.name}}</a></li>
                {% endif %}
              {% endfor %}
              <li class="menu-item"><a href="/browse/{{c}}">Misc</a></li>
            </ul>    
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if settings.show_articles %}
    <div class="divider text-center" data-content="GALERIES"></div>
    <ul class="menu menu-nav">
      {% for c in photo_categories%}
        {% if c.parent is none %}
          <li class="menu-item"><a href="/gallery/{{c.name}}/">{{c.name}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

</div>
          
