
{% load common %}

<div class="flex-centered">
	<a href="/">
		<figure class="avatar avatar-lg">
	  		<img src="{{ MEDIA_URL }}/{{settings.profil_image}}" alt="{{settings.first_name}} {{settings.last_name}} profile">
		</figure>
	</a>
</div>
<br>

{% for c in 0|range:4 %}
	<div class="flex-centered">
		{%with begin=c|multiply:4|stringformat:"s" end=c|multiply:4|add:4|stringformat:"s"%}
			{% with ea_slice=begin|add:":"|add:end %}
					{%for ea in external_accounts|slice:ea_slice%}
						<a href="{{ea.url}}"> <img height="25px" src="{{ MEDIA_URL }}/{{ea.logo}}"> </a>&nbsp; &nbsp;
					{%endfor%}
			{% endwith %}
		{% endwith %}
	</div>
{% endfor %}
